@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
	Layout = null;
}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>Albuñol</title>
    <style>
        body {
  --prim-color: #dbad6a;
  --sec-color: #@Model.Value("headerBGColor");
  --txt-dark: #101010;
  --txt-light: #f8f8f8;
  --bg-light: #d9d9d9;
  --bg-dark: #96897b;
  --highlight: #d0ce7c;
}
    </style>
  </head>
  <body>

    <header>
      <h2>@Model.Value("headerSubtitle")</h2>
      <h1>@Model.Value("headerTitle")</h1>
    </header>
    
    @RenderBody()
    
     <footer>
        <div class="footer-left">
          <h3>Owner Contact Info</h3>
          <div class="footer__info">
            <img src="" alt="" />
            <a href="mailto:bjarne.harder.larsen@gmail.com"
              >bjarne.harder.larsen@gmail.com</a
            >
          </div>
          <div class="footer__info">
            <img src="" alt="" />
            <a href="tel:+4588776655">+45 88 77 66 55</a>
          </div>
        </div>
        <div class="footer-right" id="bottom">
          <img src="\media\y3pfujy2\bjarne-1.jpg" alt="" />
        </div>
      </footer>
    </main>
  </body>
</html>